body,html {
  height: 100%;
  padding: 0;
}

.navbar {
  margin-bottom: 30px;
  background: #fff;
  padding-right: 15px;
}

.navbar-brand { 
  padding: 3px;
  padding-left: 15px;
}

.navbar-nav>li>a {
  padding-top: 30px;
  padding-bottom: 15px;
}

.navbar-brand img { height: 58px;}

.iframewrap {  height: 100%; }
.iframewrap iframe {
  height: 100%;
  width: 100%;
  border: none;
}

.container {
  padding-bottom: 30px;
}

/* homepage styles */
#home-header {
  height: 300px;
  background: black url("/images/header.jpg") no-repeat center center;
}


/* Sticky footer styles
-------------------------------------------------- */

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -15px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
  position: relative;
}

/* Set the fixed height of the footer here */
#footer {
  //height: 60px;
  background-color: #555;
  border-top: 3px solid #75D5F3;
  padding: 15px;
  color: #efefef;
}
#footer a { color: #B4B3B3; }
#footer a:hover { color: #efefef; }

