<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="1;url={{page.redirect}}">
        <script type="text/javascript">
          //window.location.href = "http://example.com"
          window.location.replace({{page.redirect}}");
        </script>
        <title>Page Redirection</title>
    </head>
    <body>
      If you are not redirected automatically,<a href='{{page.redirect}}'>click here</a>, or go back to the <a href='/'>home page</a>.
    </body>
</html>
